.forecast {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @media (max-width: 640px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 360px) {
        grid-template-columns: 1fr;
    }
}

.forecast__title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.forecast__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 10px;
    font-size: 1.2rem;
    position: relative;

    &-time {
        margin-bottom: 10px;
        color: rgba($black, .4);
        font-weight: 600;
    }

    &-img {
        width: 40px;
        height: auto;
        margin-bottom: 10px;
    }

    @media (max-width: 640px) {
        margin-bottom: 20px;
    }
}

.forecast__temperature {
    font-size: 1.2rem;
    font-weight: 600;
}