.weather {
    background-color: $blue;
}

.weather__wrapper {
    background-color: $white;
    border-radius: 20px;

    margin: 1% 0;
    padding: 25px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    box-shadow: 5px 5px 10px darken($blue, 20%);
}

.weather__info {
    width: 55%;
    position: relative;

    @media (max-width: 1280px) {
        width: 100%;
    }
}

.weather__forecast {
    width: 40%;

    @media (max-width: 1280px) {
        width: 100%;
    }
}

.weather__search {
    input {
        width: 100%;
        border-radius: 10px;
        border: none;
        background-color: $gray;

        font-size: 1rem;
        padding: 10px 20px;

        &::placeholder {
            font-weight: 500;
            opacity: .9;
            font-size: 1rem;
        }

        @media (max-width: 480px) {
            &::placeholder {
                font-size: .75rem;
            }
        }
    }
}

.weather__autocomplete {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 40px;
    left: 0;

    background-color: $gray;
    border-radius: 10px;

    width: 100%;

    &-item {
        padding: 5px;
        margin: 2px;
        cursor: pointer;
        border: 1px solid $black;
        border-radius: 10px;
    }
}